<br /><br />
<%= render 'form' %>
<!-- &nbsp;<button
  class="btn btn-primary"
  id="greet-user-button"
>
  Hello!
</button> -->

<!-- <button
  class="btn btn-primary"
  onclick="document.getElementById('click').style.fontSize = '50px'"
  ;
>
  time
</button>

<p id="click">hello</p>
<button id="has">has</button>
<%= javascript_pack_tag 'sample' %> -->
